{
    "plugins": ["transform-decorators-legacy"],
    "presets": [
        ["env", 
            {
              "targets": {
                "browsers": ["last 2 Chrome versions"]
              }
            }
        ],
        "react"
    ]
}